$screenXSMax: 575px;
$screenSMMax: 767px;
$screenMDMax: 991px;
$screenLGMax: 1199px;
$screenXLMax: 1599px;

$screenXSMin: 480px;
$screenSMMin: 576px;
$screenMDMin: 768px;
$screenLGMin: 992px;
$screenXLMin: 1200px;
$screenXXLMin: 1600px;
